@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;1,200;1,300&family=VT323&display=swap');
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.main {
  color: #fff;
  margin: 0;
  height: fit-content;
  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px auto;
    background: rgb(255,248,56);
    background: linear-gradient(0deg, rgba(255,248,56,1) 0%, rgba(144,162,255,1) 100%);

  }
  &__title {
    font-size: 50px;
    color: #fff;
     -webkit-text-stroke: 1px #000;
  }
  &__button {
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 30px;
    font-size: 30px;
    font-family: 'VT323', monospace;
    color: #fff;
    color: #000;
      background-color: rgb(255,248,56);
      cursor: pointer;
      border: 1px solid #000;
    &:hover {
      color: #000;
      background-color: #fff;
      border: 1px solid #000;
      cursor: pointer;
    }
  }
  &__time {
    display: none;
    -webkit-text-stroke: 1px #fff;
    font-size: 100px;
    font-family: 'VT323', monospace;
    color: #000;
    margin-bottom: 30px;
  }
}
.divs {
  &__container {
    display: none;
    width: 450px;
    height: 450px;
  }
  &__row {
    display: flex;
    gap:5px;
  }
  &__div {
    width: 150px;
    height: 150px;
    
    // border-radius: 20%;
    margin-bottom: 5px;
    font-family: 'VT323', monospace;
    font-size: 40px;
    color: #000;
    
    perspective: 600px;
    pointer-events: all;
    &:hover {
      cursor: pointer;
    }
    .front, .back {
      background-color: #fff;

      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #000;
      border-radius: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
      transition: 1s;
      pointer-events:none;
    }
    .front {
      transform: rotateY(0deg);
    }
    &:hover .front {
      transform: rotateY(180deg);
      cursor: pointer;
    }
    .back {
      transform: rotateY(-180deg);
      img {
        width: 150px;
      }
    }
    &:hover .back {
      transform: rotateY(0deg);

    }
  }
}